.hero {
    position: relative;
    background-image: url('https://cdn.pixabay.com/photo/2022/06/08/05/47/stars-7249785_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: xx-large;
}